.app_visiting{
    height: 100vh;
    // border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    overflow: hidden;
    background: fixed;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../../assets/background1.jpg");
    .overlay{
        height: 100vh;
        width: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.242);
    }
    
}

.visiting_card{
    height: 60%;
    width: 80%;
    // border: 2px solid blue;
    display: flex;
    position: absolute;
    justify-content:space-between;
    align-items: center;
    border-radius: 12px;
    background-color: white;
    .image_section{
        margin-left: 50px;
        img{
            box-shadow: 2px 2px 5px 2px rgb(153, 153, 153);
            border-radius: 12px;
            object-fit: cover;
            height: 55vh;
            width:55vh;
        }
    }
    .info_section{
        .info_heading{
            font-size: xx-large;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .read_more_btn{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            height: 30px;
            width: 6rem;
            margin-top: 20px;
            background: transparent;
            // border-color: rgb(3, 3, 164);
            border-radius: 5px;
            font-size: medium;
            color: blue;
            font-weight: bold;
            
            cursor: pointer;
            transition: all 0.5s ease;
            border: 2px solid blue;
            &:hover{
                background-color: rgb(16, 16, 192);
                color: white;
            }
        }
        height: 80%;
        width: 100%;
        // border: 2px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 4rem;
        word-wrap: break-word;
    }
}