.app__navbar{
    padding: 0px;
    display: flex;
    border-bottom: 1px solid rgb(150, 150, 150);
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    position: relative;
    color: white;
    z-index: 3;
    font-size: larger;
    font-weight: bold;
    .logo_section{
        cursor: pointer;
        display: flex;
        border-right: 1px solid rgb(150, 150, 150);
        p{
            padding-right:12px;
        }
        img{
            padding-left: 12px;
            height: 4rem;
            align-content: center;

        }
    }
    ul{
        // border: 2px solid red;
        display: flex;
        // height: 100%;
        li{
            
            justify-content: center;
            align-content: center;
            border-left: 1px solid rgb(150, 150, 150);
            height: 4rem;
            list-style: none;
            padding: 0 22px;
            transition: all 0.5s ease-in-out;
            cursor: pointer;
            &:hover{
                background-color: rgba(255, 255, 255, 0.208);
                // z-index: 0;
            }
        }
    }
}